.inside {
    overflow-y: scroll;
    height: 450px; /* высота нашего блока */
    width: 500px; /* ширина нашего блока */
    background: #fff; /* цвет фона, белый */
    border: 0.5px solid

}
.left-col, /* левая колонка */
.right-col /* правая колонка */
{
    width: 50%; /* ширина */
    /*min-width: 180px; !* минимальная ширина сужения *!*/
    height: 80%; /* высота */
    box-sizing: border-box;
    /*outline: 1px solid #ff7878;*/
    /*border: 8px solid #aaffaa;*/
    margin-bottom: 2px;
    float: left; /* плавающие блоки */

}

.left-col {
    padding-right: 20px; /* отступ справа */
}

.right-col {
    padding-left: 20px; /* отступ слева */
    /*overflow-y: scroll;*/
    /*height: 500px; !* высота нашего блока *!*/
    /*width: 500px; !* ширина нашего блока *!*/
    /*background: #fff; !* цвет фона, белый *!*/
    /*border: 1px solid*/
}

#upleft{
    background:#ff6a00;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width:50%;
    height:10%;
}
#upright{
    background:#f5fbfb;
    position:absolute;
    top: 0;
    left:50%;
    width:50%;
    height:10%;
}
#googleTextarea{
    position:absolute;
    left: 5px;
    top:10%;
    background:#f5fbfb;
    width:50%;
    height:80%;
}
#transtexts{
    background:#8ce52e;
    /*width:50%;*/
    height:80%;
    position:absolute;
    left:50%;
    right: 5px;
    top:10%;
    overflow-y: scroll;
}
#footer{
    background:#ffb62a;
    position:absolute;
    /*width:100%;*/
    height:10%;
    bottom:0;
    left: 5px;
    right: 5px;
}
#googleText {
    position:absolute;
    background:#f5fbfb;
    width:90%;
    height:100%;
    border: 1px solid whitesmoke;
}